* {
  box-sizing: border-box;
  margin: 0px;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.clear {
  clear: left;
}

.br {
  display: none;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

header {
  color: white;
  background-color: rgb(10, 30, 90);
  text-align: center;
  border-bottom: solid 1px rgb(10, 30, 90);
}

header h1 {
  color: white;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 46px;
  padding-bottom: 20px;
  font-size: 40px;
}

.menus {
  width: 80%;
  margin: 0 auto;
}


.menu {
  color: white;
  width: 25%;
  border: 2px solid white;
  float: left;
  line-height: 25px;
}

.menu:hover {
  cursor: pointer;
  opacity: 0.7;
}

.menu-bar {
  display: none;
}

.menu-bar:hover {
  cursor: pointer;
}

#open {
  height: 75px;
  position: fixed;
  top: 0;
  right: 0;
  display: block;
}

#close {
  height: 45px;
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 21;
  display: none;
}

.menu-modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgb(100, 100, 100);
  width: 80%;
}

.menu-list {
  margin-top: 80px;
  text-align: left;
}

.menu-list a {
  font-size: 30px;
  padding: 5px;
  margin: 5px;
  color: white;
  display: block;
  border-bottom: solid 1px white;
}

.top-wrapper h1 {
  padding-top: 10px;
}

.top-wrapper img {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.main {
   margin-top: 30px;
}

.main-contents {
  float: left;
}

.main-left {
  width: 70%;
}

.article {
  color: black;
  width: 95%;
  margin: 0 auto;
  padding-bottom: 10px;
}

.index {
  background-color: rgb(220, 220, 220);
  border-radius: 7px;
  padding: 5px;
  margin: 10px;
  line-height: 30px;
}

.index li {
  color: black;
  border-bottom: dashed 1px white;
}

.article h2 {
  color: white;
  background-color: rgb(10, 30, 90);
  padding-left: 5px;
}

.article h3 {
  color: white;
  background-color: rgb(20, 60, 180);
  padding-left: 7px;
  margin-top: 3px;
}

.article-text {
  padding: 10px 0px;
}

.main-right {
  width: 30%;
}

.profile, .line {
  width: 95%;
  margin: 0 auto;
}

.profile h2 {
  color: white;
  background-color: rgb(10, 30, 90);
  padding-left: 5px;
}

.profile img {
  display: block;
  width: 95%;
  margin: 10px auto;
}

.profile a {
  margin-bottom: 0px;
  border-bottom: solid 1px;
}

.feature {
  margin: 5px 0px;
  list-style: initial;
}

.line {
  background-color: rgb(29, 205, 0);
  text-align: center;
  line-height: 80px;
  font-size: 60px;
  border-radius: 5px;
  letter-spacing: 3px;
  margin-top: 10px;
}

.line a {
  color: white;
}

.line:hover {
  cursor: pointer;
}

footer {
  margin-top: 10px;
  color: white;
  background-color: rgb(10, 30, 90);
  line-height: 60px;
  text-align: center;
}
